#bicicleta .bicicleta-bg {
  background-color: var(--cor-11);
}
#bicicleta .header-interno-bg {
  margin: 0 auto;
  background-color: var(--cor-11);
}
#bicicleta .header-interno {
  margin: 0 auto;
  background-color: var(--cor-11);
  color: var(--cor-0);
}
#bicicleta .header-interno h1 span {
  color: var(--cor-p1);
  display: inline;
}

/* main */

#bicicleta .bicicleta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  padding-bottom: 60px;
}
#bicicleta .bicicleta-imagem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#bicicleta .bicicleta-imagem img {
  flex: 1;
  min-width: 200px;
}
#bicicleta .bicicleta-imagem img:first-child {
  min-width: 100%;
}
#bicicleta .bicicleta-conteudo > p {
  color: var(--cor-5);
  margin-bottom: 32px;
}
.bicicleta-comprar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}
#bicicleta .bicicleta-comprar > .btn {
  margin: 0;
  max-width: max-content;
}
.bicicleta-comprar-conteudo img {
  display: inline;
}
.bicicleta-comprar-conteudo div {
  display: flex;
  gap: 8px;
  background-color: var(--cor-12);
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--cor-6);
  max-width: max-content;
}
.bicicleta-comprar-conteudo div + div {
  margin-top: 8px;
}
.info {
  margin-bottom: 12px;
  color: var(--cor-0);
}
#bicicleta .bicicleta-box-vantagens {
  background-color: var(--cor-12);
  border-radius: 4px;
  padding: 32px;
  margin-bottom: 60px;
}
#bicicleta .bicicleta-box-vantagens ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--cor-0);
  gap: 32px;
}
#bicicleta .bicicleta-box-vantagens li {
  display: grid;
  grid-template-columns: 1fr;
}
#bicicleta .bicicleta-box-vantagens p {
  color: var(--cor-5);
}
#bicicleta .bicicleta-box-vantagens li{
  margin: 0;
  padding: 0;
 }
#bicicleta .ficha-titulo {
  margin-bottom: 12px;
  color: var(--cor-0);
}
#bicicleta .ficha-tecnica {
  background-color: var(--cor-12);
  border-radius: 4px;
  padding: 32px;
  color: var(--cor-4);
}
#bicicleta .ficha-tecnica li + li {
  padding-top: 12px;
}
#bicicleta .ficha-tecnica li {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
}
#bicicleta .ficha-tecnica span {
  width: 60px;
}
@media (max-width: 1200px) {
  #bicicleta .header-interno h1 {
    font-size: 3rem;
  }
  #bicicleta .bicicleta-conteudo p {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  #bicicleta .bicicleta-container {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
  #bicicleta .bicicleta-imagem {
    grid-row: 2;
  }
}
@media (max-width: 420px) {
  .bicicleta-comprar {
    flex-direction: column;
    align-items: start;
  }
  #bicicleta .bicicleta-box-vantagens ul {
    grid-template-columns: 1fr;
  }
  #bicicleta .header-interno h1 {
    font-size: 2rem;
  }
}
/* article - escolha a sua */
#bicicleta .lista-container {
  margin-bottom: 120px;
  padding: 0;
}
#bicicleta .lista-container > h2{
  padding: 0 20px;
}
#bicicleta .lista {
  grid-template-columns: 1fr 1fr;
}
#bicicleta .lista {
  margin: 0 auto;
  max-width: 1200px;
}
#bicicleta .lista-titulo {
  padding: 0;
  margin-top: 60px;
}

/* article - pedale mais */

.pedale-mais-conteudo h2 > span {
  color: var(--cor-p1);
  display: inline;
}
.pedale-mais-conteudo h2 {
  color: var(--cor-0);
  margin-top: 60px;
  margin-bottom: 32px;
}
.pedale-mais-conteudo p {
  color: var(--cor-5);
}
.pedale-mais-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px 0 0 var(--cor-0), inset 0 -120px 0 0 var(--cor-12);
}
.pedale-mais-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.pedale-mais-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pedale-mais-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}
@media (max-width: 1200px) {
  .pedale-mais-conteudo h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .pedale-mais-conteudo p {
    font-size: 1.125rem;
  }
  #bicicleta .btn {
    padding: 8px 16px;
  }
}
@media (max-width: 800px) {
  .pedale-mais-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .pedale-mais-bg {
    box-shadow: inset 0 -120px 0 0 var(--cor-12);
  }
  .pedale-mais-conteudo {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pedale-mais-box-img {
    grid-row: 2;
  }
  .pedale-mais-conteudo h2 {
    font-size: 2rem;
  }
  .footer-contato h2 {
    font-size: 1.125rem;
  }
  .footer-informacoes h2 {
    font-size: 1.125rem;
  }
}
