.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  padding: 16px 32px;
  color: var(--cor-p5);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.33;
  background: var(--gradiente);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Poppins";
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: var(--cor-p2);
}
@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}