#contato .header-interno-bg {
  background-color: var(--cor-11);
}
#contato .header-interno {
  margin: 0 auto;
}

/* ############################### */

body {
  background-color: var(--cor-1);
}
.contato-bg {
  background-color: var(--cor-1);
  box-shadow: inset 0 300px 0 0;
}
.contato-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-bottom: 120px;
}
.loja {
  background-color: var(--cor-12);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0px 0px 4px;
  color: var(--cor-4);
}
.loja h2 {
  color: var(--cor-0);
  margin: 60px;
}

.loja-endereco {
  margin-left: 88px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.loja-endereco li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.loja-endereco img {
  display: inline;
  width: 24px;
}
.loja-endereco::before {
  content: "";
  position: absolute;
  background-image: url(../../img/icones/local.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 0;
  left: -25px;
}

.loja-email {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
}
.loja-email img {
  position: absolute;
  left: -26px;
  top: 0;
}

.loja-contato {
  margin-left: 88px;
  margin-bottom: 32px;
  display: grid;
  gap: 8px;
}
.loja-contato a + a {
  display: block;
  margin-top: 8px;
  max-width: max-content;
}
.loja-contato img {
  display: inline;
}
.loja-img {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
}
.loja-img img {
  position: absolute;
  left: -26px;
  top: 0;
}

.loja-contato > div:last-child {
  margin-top: 32px;
}

#contato .contato-redes {
  padding: 0;
  margin: 0;
  margin-bottom: 132px;
  margin-left: 88px;
}

@media (max-width: 800px) {
  #contato .contato-container {
    grid-template-columns: 1fr;
  }
  .loja h2 {
    margin-bottom: 32px;
    margin-top: 32px;
  }
  #contato .contato-redes {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 88px;
  }
}

.dados-contato {
  background-color: var(--cor-0);
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px 4px 4px 0px;
}
#contato form label {
  font: 600 1rem/1.5 "Poppins", sans-serif;
  display: inline-block;
  width: 100%;
}
#contato input[type="text"],
#contato input[type="email"],
#contato input[type="number"] {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: var(--cor-1);
  border-radius: 4px;
  border: 1px solid var(--cor-2);
}
#contato input[type="text"]:focus,
#contato input[type="email"]:focus,
#contato input[type="number"]:focus {
  outline: none;
  border-color: var(--cor-p1);
  background-color: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}
#contato input[type="email"] {
  margin-bottom: 20px;
}
#contato form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#contato textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  display: inline-block;
  width: 100%;
  background-color: var(--cor-1);
  border: 1px solid var(--cor-2);
}
#contato textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background-color: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}
.form-container {
  gap: 20px;
  margin-bottom: 48px;
}

@media (max-width: 600px) {
  #contato form > div {
    grid-template-columns: 1fr;
  }
  .form-container {
    gap: 20px;
    margin-bottom: 20px;
  }
}

#contato .local h2 > span {
  color: var(--cor-p1);
  display: inline;
}

#contato .local {
  margin-bottom: 120px;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 30.25%;
  position: relative;
  height: 0;
  margin-top: 60px;
  border-radius: 4px 4px 0 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#contato .local-endereco {
  background-color: var(--cor-0);
  padding-left: 60px;
  padding-bottom: 32px;
  padding-top: 32px;
  border-radius: 0 0 4px 4px;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: var(--cor-8);
}
#contato .local-lista {
  background-color: var(--cor-0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 60px;
  align-items: end;
  max-width: max-content;
  padding-left: 32px;
  margin-bottom: 32px;
}
#contato .local-lista li + li {
  padding-top: 8px;
}
#contato .local-lista div {
  border-right: 1px solid var(--cor-2);
  padding-right: 32px;
}
#contato .local-endereco h3 {
  margin-bottom: 32px;
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
.local-detalhe {
  position: relative;
}
.local-detalhe::before {
  content: "";
  height: 50px;
  width: 1px;
  background-color: var(--cor-2);
  position: absolute;
  left: -32px;
}
#contato .local-endereco span {
  background-image: url(../../img/icones/horario.svg);
  background-repeat: no-repeat;
  padding-left: 32px;
  margin-left: -10px;
}


@media (max-width: 1200px) {
  #contato .local h2{
    font-size: 3rem;
  }
  #contato .local {
    margin-bottom: 60px;
  }
}
@media (max-width: 800px) {
  #contato .local h2{
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  #contato .local-lista {
    grid-template-columns: 1fr;
  }
}