.header-bg {
  background-color: var(--cor-12);
  padding: 15px 0;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 20px;
}
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a {
  color: var(--cor-0);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  padding: 16px 0;
  display: inline-block;
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
}

/* media */
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
  }
  .header-menu a::after {
    display: none;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    font-size: 1rem;
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
@media (max-width: 330px) {
  .header {
    justify-content: center;
  }
  .header-menu {
    justify-content: center;
  }
}
