.introducao-bg {
  background-color: var(--cor-12);
  padding: 15px 0;
  margin: 0 auto;
  box-shadow: 0 -120px #fff inset;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  position: relative;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo .introducao-titulo {
  color: var(--cor-0);
  margin-bottom: 32px;
}
.introducao-titulo span {
  color: var(--cor-p1);
}
.introducao-conteudo p {
  color: var(--cor-5);
  margin-bottom: 20px;
}
.detalhe {
  position: absolute;
  left: 10px;
  bottom: 25%;
  display: none;
}
.introducao-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
/* media */
@media (max-width: 1200px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
  }
  .introducao-conteudo p {
    font-size: 1.125rem;
  }
  .btn {
    padding: 12px 16px;
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .introducao-conteudo h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 40px;
    box-shadow: 0 -60px #fff inset;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0;
  }
  .introducao-img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}
