.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}
.parceiros-titulo {
  color: var(--cor-12);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 20px;
}
.parceiros-titulo span {
  color: var(--cor-p1);
}
.parceiros-lista {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.parceiros-lista li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--cor-2);
}
.parceiros-lista li:first-child {
  border: none;
}
.parceiros-lista li:nth-child(5) {
  border: none;
}
.parceiros-lista li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}
.parceiros-lista img {
  margin: 0 auto;
  align-items: center;
}
@media(max-width:1200px){
   .parceiros-titulo{
      font-size: 3.5rem;
   }
}
@media(max-width:800px){
   .parceiros-titulo{
      font-size: 3rem;
   }
   .parceiros-lista{
      grid-template-columns: 2fr 2fr;
   }
}
@media(max-width:500px){
   .parceiros-titulo{
      font-size: 2.5rem;
   }
   .parceiros-lista{
      grid-template-columns: 1fr 1fr;
   }
   .parceiros-lista li{
      padding: 20px;
      }
}
@media(max-width:350px){
   .parceiros-lista{
      grid-template-columns: 1fr;
   }
   .parceiros-lista li:nth-child(n + 5) {
      border-top: none;
    }
   .parceiros-titulo{
      font-size: 2rem;
      margin-bottom: 30px;
   }
   .parceiros{
      margin-bottom: 10px;
   }
}