#seguros .header-interno {
  margin: 0 auto;
}
#seguros .header-interno {
  padding-bottom: 10px;
}
#seguros .header-interno-bg {
  background-color: var(--cor-11);
}
#seguros .seguros-bg {
  background-color: var(--cor-11);
}
#seguros .prata {
  box-shadow: inset 0 44px 0 var(--cor-11), inset 0 -44px 0 var(--cor-11);
}
#seguros .seguros-bg {
  margin: 0 auto;
  padding: 0;
}

/* vantagens */

.vantagens-bg {
  background-color: var(--cor-12);
}
.vantagens {
  padding-top: 120px;
}
.vantagens h2 {
  color: var(--cor-0);
  margin-bottom: 120px;
}
.vantagens h2 span {
  color: var(--cor-p1);
  display: inline;
}
.vantagens-lista{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px;
   padding-bottom: 120px;
}
.vantagens-lista h3{
   color: var(--cor-0);
   margin: 8px 0;
}
.vantagens-lista p{
   color: var(--cor-6);
}
/* perguntas */
.perguntas h2 span {
   color: var(--cor-p1);
   display: inline;
 }
 .perguntas h2{
   margin-top: 120px;
   margin-bottom: 88px;
   color: var(--cor-11);
 }