#orcamento .header-interno-titulo span {
  color: var(--cor-p1);
}
#orcamento .header-interno-titulo span {
  display: inline;
}
#orcamento .header-interno-bg {
  background-color: var(--cor-11);
}

/* ####################################### */

#orcamento main {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
#orcamento .orcamento {
  background-color: var(--cor-12);
  padding: 60px;
  margin-bottom: 500px;
}
#orcamento .form-escolha-orcamento {
}
.form-escolha-orcamento h3 {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color: var(--cor-5);
  margin-bottom: 20px;
  position: relative;
}
#orcamento .form-escolha-orcamento h3::before {
  content: "";
  width: 4px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  top: 4px;
  left: -10px;
}
#orcamento .box-opcao-orcamento {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
#orcamento .box-opcao-orcamento > label {
  display: flex;
  width: 160px;
  height: 48px;
  flex-shrink: 1;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
}
#orcamento .box-opcao-orcamento label > input {
  display: inline-block;
  margin: 10px;
}
#orcamento .box-opcao-orcamento label:nth-child(odd) {
  background-color: var(--cor-0);
  color: var(--cor-11);
}
#orcamento .box-opcao-orcamento label:nth-child(even) {
  background-color: var(--cor-10);
  color: var(--cor-4);
}

/* nimbus */
#orcamento #show-opcao-bicicleta {
  display: none;
}

#orcamento .nimbus-opcao {
  max-width: max-content;
}
#orcamento .nimbus-opcao > label {
  display: flex;
  background-color: var(--cor-10);
  width: 340px;
  height: 48px;
  flex-shrink: 1;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
  gap: 10px;
  padding-left: 8px;
  color: var(--cor-4);
  margin-bottom: 20px;
  /* remover o  */
  justify-content: space-between;
}
#orcamento .nimbus-opcao span {
  margin-right: 8px;
}

/* ######################## */

#orcamento .seguro-opcao #show-preco {
  display: none;
}
#orcamento .nimbus-opcao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: none;
}
#orcamento .lista-nimbus-opcao {
  color: var(--cor-8);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  background-color: var(--cor-0);
  border-radius: 4px 0 0 4px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
#orcamento .lista-nimbus-opcao li {
  display: flex;
  align-items: center;
  gap: 8px;
}
#orcamento .lista-nimbus-opcao li + li {
  padding-top: 8px;
}
#orcamento .lista-nimbus-opcao h4 {
}
#orcamento .lista-nimbus-opcao img {
  width: 16px;
}
#orcamento .img-nimbus-opcao {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  background-color: var(--cor-0);
  border-radius: 0 4px 4px 0;
}
#orcamento .img-nimbus-opcao img {
  object-fit: contain;
  max-width: 140px;
}
/* seguro */

#orcamento .seguro-opcao > label {
  display: flex;
  background-color: var(--cor-10);
  width: 340px;
  height: 48px;
  flex-shrink: 1;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
  gap: 10px;
  padding-left: 8px;
  color: var(--cor-4);
  margin-bottom: 20px;
  /* remover o  */
  justify-content: space-between;
}
#orcamento .seguro-opcao span {
  margin-right: 8px;
}
#orcamento .seguro-opcao {
  max-width: max-content;
}
#orcamento .nimbus-opcao #show-preco {
  display: none;
}
#orcamento .seguro-opcao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: none;
}
